.navbar-header {
  background-color: #000000; 
  background-image: linear-gradient(to right, #012677, #005bc5, #2196f3, #42a5f5);
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border: 2px solid black;

  }
  
  .navbar-container-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    

  }
   
  
  .navbar-logo-header {
    color: white;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-family: 'PT-Sans', sans-serif;
  }
  

  .navbar-icon-header {
    margin-right: 0rem;
  }
  
  .nav-menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    /* justify-content: end; */
  }
  
  .nav-item-header {
    height: 80px;
    border-bottom: 2px solid transparent;
    align-items: right;
    font-family: 'PT-Sans', sans-serif;
    text-align: right;
    display: flex;

  }
  
  .nav-item-header:hover {
    border-bottom: 6px solid #200c03;
  }

  .texts-header:hover{
    color: #1e1a0e;
  }
  
  .nav-links-header {
    color: rgb(72, 68, 68);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    text-align: center;
  }

.texts-header {
  color: white;
  font-size: 0.8rem;


}