.MakeTransaction {
    background-color: white;
    border-radius: 5px;
    width: 550px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
}

.BankTransactionDetails{
    text-align: left;
    padding: 20px 10px;
   
}
 
.Banktransactioninfo{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    width: 60%;
}

.FormLabel{
    width: 40%;
}

.TransactionSumbit {
  
    position: absolute;
    top: 450px;
    left: 730px;
    text-align: center;
    width: 90px;

  }

  .UserTransaction-Back_button {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: #292929;
    color: rgb(255, 255, 255);
    width: 200px;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .MakeTransaction-label {
    text-align: center;
    padding-bottom: 20px;
  }